@(message: String, style: String = "scala", data: List[dto.FileDataDTO])

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
      <h1>@message</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">

  <table>

      <thead>

            <th>File Name</th>
            <th>Status</th>
             <th>Approve/Reject</th>
      </thead>
      <tbody>

          @for(d <- data) {
              <tr id="@d.id">
                  <input type="hidden" name="id" value= "@d.id">
                  <td><a class='find-file' href="#">@d.fileName.getOrElse("None")</a></td>
                  <td class="status"> @d.status</td>
                  <td>
                      <input type="radio" name="status" value="1">  Approve<br>
                      <input type="radio"  name="status" value="0">  Reject<br>
                  </td>
              </tr>
          }
          
      </tbody>
  </table>
</div>
    <br/>
    <div id="doc-holder" ></div>
    <div  class="wrapper doc"></div>

  
</aside>

</div>
}
